<a href="https://colab.research.google.com/github/plumwiserim/Python-Programming/blob/master/%EC%BB%B4%ED%93%A8%ED%84%B0%EC%8B%9C%EC%8A%A4%ED%85%9C%EC%9E%85%EB%AC%B806.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 패키지
- 모듈
  - 하나의 .py 파일을 가리킴
- 패키지
  - 모듈들을 모은 컬렉션을 가리킴
  - 하나의 디렉토리에 놓여진 모듈들의 집합
  - 일반적으로 __init__.py 라는 패키지 초기화 파일이 존재
    - Python 3.3 이후부터는 init 파일이 없어도 패키지로 인식이 가능

## pip관리자
- pip
  - 파이썬으로 작성된 패키지 소프트웨어를 설치, 관리하는 패키지 관리 시스템
  - 패키지 설치
  - 패키지 삭제
  - 설치 패키지 확인

## Pandas(Python Data Analysis Library)
- dataframe을 주로 다루기 위한 라이브러리
- 테이블 형식의 데이터(tabular, rectangular grid 등으로 불림)를 다룰 때 사용
- import pandas

## Pandas Series
- 가장 간단한 1차원 자료구조
  - 배열/리스트와 같은 일련의 시퀀스 데이타를 받아들이는데, 별도의 인덱스 레이블을 지정하지 않으면 자동적으로 0부터 시작되는 디폴트 정수 인덱스를 사용

In [1]:
import pandas as pd

data = range(10)

pddata = pd.Series(data)
print(pddata)

print("2번째 요소 => ", pddata[1])

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
2번째 요소 =>  1

## Pandas DataFrame
- 2차원 자료구조인 DataFrame은 행과 열이 있는 테이블 데이터(Tabular Data)

In [2]:
import pandas as pd

data = {
    'area1': ['서울', '경기', '경기', '강원', '강원'], 
    'area2': ['서울', '수원', '안양', '춘천', '강릉'], 
    '2018.04': [52, 52, 61, 57, 47]
}

df = pd.DataFrame(data)

print(df)
print('1개 열 추출 : \n', df['2018.04'])
print('2개 열 추출 : \n', df[['area1', '2018.04']])
print('1개 행 추출 : \n', df.loc[3])
print('2개 행 추출 : \n', df.loc[[0, 3]])

print(df.head(n=2))
print(df.tail(n=2))

  area1 area2  2018.04
0    서울    서울       52
1    경기    수원       52
2    경기    안양       61
3    강원    춘천       57
4    강원    강릉       47
1개 열 추출 :
 0    52
1    52
2    61
3    57
4    47
Name: 2018.04, dtype: int64
2개 열 추출 :
   area1  2018.04
0    서울       52
1    경기       52
2    경기       61
3    강원       57
4    강원       47
1개 행 추출 :
 area1      강원
area2      춘천
2018.04    57
Name: 3, dtype: object
2개 행 추출 :
   area1 area2  2018.04
0    서울    서울       52
3    강원    춘천       57
  area1 area2  2018.04
0    서울    서울       52
1    경기    수원       52
  area1 area2  2018.04
3    강원    춘천       57
4    강원    강릉       47

- 슬라이싱

In [3]:
subset = df.loc[:,['area2', '2018.04']]
print(subset)

subset = df.iloc[:,[1,2]]
print(subset)

subset = df.loc[[0,3],['area2', '2018.04']]
print(subset)

subset = df.iloc[2:4, 0:2]
print(subset)

  area2  2018.04
0    서울       52
1    수원       52
2    안양       61
3    춘천       57
4    강릉       47
  area2  2018.04
0    서울       52
1    수원       52
2    안양       61
3    춘천       57
4    강릉       47
  area2  2018.04
0    서울       52
3    춘천       57
  area1 area2
2    경기    안양
3    강원    춘천

## Pandas 외부데이터 가져오기
- csv 읽기
- csv 쓰기

In [ ]:
import pandas as pd
df = pd.read_csv('test.csv')

df1 = df.loc[df['시도']=='경기']
print(df1)

df1.to_csv('경기.csv')

df['avg'] = df.iloc[:, 2:7].mean(axis=1)
print(df)

dfg1 = round(df.groupby('시도')['avg'].mean(), 2)
print(dfg1)